<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <system.web>
    <!-- Custom error handling set to show detailed errors -->
    <customErrors mode="Off" />
  </system.web>

  <system.webServer>
    <!-- HTTP error handling set to show detailed errors -->
    <httpErrors errorMode="Detailed"></httpErrors>
  </system.webServer>
  
</configuration>
